body {
            background-color: #fbf9f1;
            color: #1C1917;
            -webkit-font-smoothing: antialiased;
        }
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        input:focus, textarea:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(189, 95, 67, 0.2);
            border-color: #BD5F43 !important;
        }
        .editorial-shadow {
            box-shadow: 0 1px 3px 0 rgba(28, 25, 23, 0.05);
        }