.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            vertical-align: middle;
        }
        body {
            background-color: #fbf9f1;
            color: #1C1917;
        }
        .editorial-border {
            border: 1px solid rgba(28, 25, 23, 0.1);
        }
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }